package ${package.ServiceImpl};

import org.springframework.beans.factory.annotation.Autowired;
import ${package.Entity}.${entity}Entity;
import ${package.Parent}.bean.param.CommonParam;
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import com.baomidou.mybatisplus.mapper.Wrapper;
import com.baomidou.mybatisplus.mapper.EntityWrapper;
import org.springframework.stereotype.Service;

import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;


/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}Entity> implements ${table.serviceName} {

    @Autowired
    private ${table.mapperName} ${entityVariableName};
	
    @Override
    public ${entity}Entity selectByIdAndTenantCode (String tenantCode,Long id){
        return entityVariableName.selectByIdAndTenantCode(tenantCode,id);
    }
	
    @Override
    public PageInfo<${entity}Entity> listPage(String tenantCode,CommonParam commonParam) {
	    Wrapper<${entity}Entity> wrapper = new EntityWrapper<>();
        wrapper.where(true, "tenant_code={0}", tenantCode);
        PageHelper.startPage(commonParam.getOffset(), commonParam.getLimit());
        return new PageInfo<>(super.selectList(wrapper));
    }
	
    @Override
    public boolean updateByIdAndTenantCode(${entity}Entity entity){
        return retBool(entityVariableName.updateByIdAndTenantCode(entity));
    }
	
    @Override
    public boolean deleteByIdAndTenantCode(String tenantCode,Long id){
        return retBool(entityVariableName.deleteByIdAndTenantCode(tenantCode,id));
    }
}
